@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: flex;
  height: 100%;
  place-items: center;
  text-align: center;
  /* background: #FFD8CF; */
  background-image: url(bg.png);
}
.container{
  position: relative;
  margin-left:140px ;
  margin-right:150px;
  width: 400px;
  background: rgb(171, 164, 164);
  padding: 20px 30px;
  border: 1px solid rgb(222, 230, 222)8, 187, 206, 0.867;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity:0.8;
}
 .main_container {
    float: left;
  box-sizing: border-box;
  
} 
.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
.out:not(:checked) ~ label:hover,
.out:not(:checked) ~ label:hover ~ label{
  color: white;
}
.out:checked ~ label{
  color: white;
}
.out#rate-5:checked ~ label{
  color: white;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
#rate-5:checked ~ form header:before{
  content: "I just love it ";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: white;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: white;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}
.container2{
    position: relative;
    width: 400px;
    background: rgb(171, 164, 164);
    padding: 20px 30px;
    border: 1px solid rgb(222, 230, 222)8, 187, 206, 0.867;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity:0.8;
  }
 
  .container2 .post2{
    display: none;
  }
  .container2 .text2{
    font-size: 25px;
    color: #666;
    font-weight: 500;
  }
  .container2 .edit2{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
  }
  .container2 .edit2:hover{
    text-decoration: underline;
  }
  .container2 .star-widget2 input{
    display: none;
  }
  .star-widget2 label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
  }
  .in:not(:checked) ~ label:hover,
  .in:not(:checked) ~ label:hover ~ label{
    color: white;
  }
  .in:checked ~ label{
    color: white;
  }
  .in#rate2-5:checked ~ label{
    color: white;
    text-shadow: 0 0 20px #952;
  }
  #rate2-1:checked ~ form header:before{
    content: "I just hate it ";
  }
  #rate2-2:checked ~ form header:before{
    content: "I don't like it ";
  }
  #rate2-3:checked ~ form header:before{
    content: "It is awesome ";
  }
  #rate2-4:checked ~ form header:before{
    content: "I just like it ";
  }
  #rate2-5:checked ~ form header:before{
    content: "I just love it ";
  }
  .container2 form{
    display: none;
  }
  .in:checked ~ form{
    display: block;
  }
  .form header{
    width: 100%;
    font-size: 25px;
    color: white;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  .form .textarea2{
    height: 100px;
    width: 100%;
    overflow: hidden;
  }
  .form .textarea2 textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
  }
  .textarea2 textarea:focus{
    border-color: #444;
  }
  form .btn2{
    height: 45px;
    width: 100%;
    margin: 15px 0;
  }
  form .btn2 button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form .btn2 button:hover{
    background: #1b1b1b;
  }